.home {
  text-align: center;
}

.home-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-description {
  width: 60vw;
  font-size: .6em;
}

.hide-description{
  visibility: hidden;
}