.container-log {
    margin-top: 30px;
    background-color: white;
    width: 50vw;
    height: 40vh;
    overflow: auto;
  }
  
  .log {
    margin-left: 5px;
    text-align: left;
    color: black;
    font-size: .8em;
    font-family: monospace;
  }
  